.root{
    -fx-background-color: linear-gradient(black,lawngreen);
}

.button {
    display: inline-block;
    -fx-border-radius: 8px;
    -fx-cursor: crosshair;
}
.text-field{
    -fx-text-fill: lawngreen;
    -fx-background-color: black;
}
.label{
    -fx-text-fill: lawngreen;
    -fx-font-size: 20px;
    -fx-font-family: OCRAExtendedRegular;
}
.table-row-cell {
    -fx-background-color: black;
}
.table-view .table-cell{
    -fx-text-fill: lawngreen;
}

.table-view .column-header{
    -fx-background-color: black;
}
.menu{
    -fx-background-color: black;
    -fx-cursor: crosshair;
}
.menu-item{
    -fx-cursor: crosshair;

}
.table-row-cell:selected{
    -fx-background-color: darkgrey;
}.menu-bar{
     -fx-background-color: black;
 }
 .menu-bar{
     -fx-background-color: black;
 }

#customerSearchField{
    -fx-text-fill: lawngreen;
    -fx-background-color: black;
}